@page
@model Web.Pages.CheckScoreModel
@{
    ViewData["Title"] = "Check điểm bài thi";
    var alertMessage = TempData["AlertMessage"] as string;
}

<link rel="stylesheet" href="~/css/CheckScore.css" asp-append-version="true" />
<div class="form-container">
    <h3>Hướng dẫn sử dụng</h3>
    <p><b>Bước 1:</b> Xem danh sách các môn hiện có</p>
    <p><b>Bước 2:</b> Upload file .dat từ thư mục nộp bài của EOS client.</br><img src="https://media.discordapp.net/attachments/1169630725495062539/1175093076541317221/IMG_2596.jpg?ex=6569f9b5&is=655784b5&hm=a0d22b0b832c156019767f0646af186e1bdf6002d1e21fe9a67d6d10e7325d59&=&width=935&height=644" style="height: 50%; width: 50%" /></p>
    <p><b>Bước 3:</b> Sau khi upload file xong sẽ chuyển về My Payment. Hãy thanh toán hóa đơn.</p>
    <p><b>Bước 4:</b> Sau khi thanh toán thành công, tại cột "Loại Dịch Vụ" bấm vào nút Check-Score</p>
    <p><b><i>Lưu ý: </i></b><br />- Liên hệ <a href="https://www.facebook.com/profile.php?id=100080050691677&mibextid=JRoKGi">Khongphaiduy</a> nếu có lỗi xảy ra.
        <br />- Kiểm tra lịch sử check điểm trong <a href="https://www.hotrohoctap.net/MyPayment">My Payment.</a>
    <p style="color:red"><strong>Không sửa decription khi thanh toán</strong></p>
    </p>
    <h3>Các môn hiện có</h3>
    <select class="form-control">
        @foreach (var course in Model.CurrentCourses)
        {
            <option class="course-option">@course</option>
        }
    </select>
    <h3>Upload bài làm ở đây</h3>
    <form method="post" enctype="multipart/form-data" class="form-group">
        <div class="custom-file mb-3">
            <div class="drag-drop-area" id="dragDropArea">
                <input accept=".dat" type="file" class="custom-file-input" id="customFile" name="file" style="display: none;">
                <label class="custom-file-upload" for="customFile">
                    <div class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="" viewBox="0 0 24 24"><g stroke-width="0" id="SVGRepo_bgCarrier"></g><g stroke-linejoin="round" stroke-linecap="round" id="SVGRepo_tracerCarrier"></g><g id="SVGRepo_iconCarrier"> <path fill="" d="M10 1C9.73478 1 9.48043 1.10536 9.29289 1.29289L3.29289 7.29289C3.10536 7.48043 3 7.73478 3 8V20C3 21.6569 4.34315 23 6 23H7C7.55228 23 8 22.5523 8 22C8 21.4477 7.55228 21 7 21H6C5.44772 21 5 20.5523 5 20V9H10C10.5523 9 11 8.55228 11 8V3H18C18.5523 3 19 3.44772 19 4V9C19 9.55228 19.4477 10 20 10C20.5523 10 21 9.55228 21 9V4C21 2.34315 19.6569 1 18 1H10ZM9 7H6.41421L9 4.41421V7ZM14 15.5C14 14.1193 15.1193 13 16.5 13C17.8807 13 19 14.1193 19 15.5V16V17H20C21.1046 17 22 17.8954 22 19C22 20.1046 21.1046 21 20 21H13C11.8954 21 11 20.1046 11 19C11 17.8954 11.8954 17 13 17H14V16V15.5ZM16.5 11C14.142 11 12.2076 12.8136 12.0156 15.122C10.2825 15.5606 9 17.1305 9 19C9 21.2091 10.7909 23 13 23H20C22.2091 23 24 21.2091 24 19C24 17.1305 22.7175 15.5606 20.9844 15.122C20.7924 12.8136 18.858 11 16.5 11Z" clip-rule="evenodd" fill-rule="evenodd"></path> </g></svg>
                    </div>
                    <div class="text" id="fileLabel">
                        <span>Click to upload file</span>
                    </div>
                </label>
            </div>
        </div>
        <button type="submit" class="cssbuttons-io-button">
            <svg viewBox="0 0 640 512" fill="white" height="1em" xmlns="http://www.w3.org/2000/svg"><path d="M144 480C64.5 480 0 415.5 0 336c0-62.8 40.2-116.2 96.2-135.9c-.1-2.7-.2-5.4-.2-8.1c0-88.4 71.6-160 160-160c59.3 0 111 32.2 138.7 80.2C409.9 102 428.3 96 448 96c53 0 96 43 96 96c0 12.2-2.3 23.8-6.4 34.6C596 238.4 640 290.1 640 352c0 70.7-57.3 128-128 128H144zm79-217c-9.4 9.4-9.4 24.6 0 33.9s24.6 9.4 33.9 0l39-39V392c0 13.3 10.7 24 24 24s24-10.7 24-24V257.9l39 39c9.4 9.4 24.6 9.4 33.9 0s9.4-24.6 0-33.9l-80-80c-9.4-9.4-24.6-9.4-33.9 0l-80 80z"></path></svg>
            <span>Upload</span>
        </button>
    </form>
</div>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script>
        const errorBox = document.getElementById('regError');

        function showToast(title, message, type) {
            toast({
                title: title,
                message: message,
                type: type,
                duration: 3000
            });
        }
        // Script to update the label of the file input
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });

        $(document).ready(function () {
            var dragDropArea = $('#dragDropArea');
            var customFileUpload = $('.custom-file-upload');
            var fileInput = $('#customFile');

            // Highlight khi file được kéo vào
            dragDropArea.on('dragover', function (e) {
                e.preventDefault();
                e.stopPropagation();
                customFileUpload.addClass('drag-over');
            });

            dragDropArea.on('dragleave', function (e) {
                e.preventDefault();
                e.stopPropagation();
                customFileUpload.removeClass('drag-over');
            });

            dragDropArea.on('drop', function (e) {
                e.preventDefault();
                e.stopPropagation();
                customFileUpload.removeClass('drag-over');
                var files = e.originalEvent.dataTransfer.files;
                fileInput.prop('files', files);
                updateLabelWithFileName(files[0].name);
            });

            // Cập nhật tên file
            fileInput.on('change', function () {
                var fileName = $(this).val().split("\\").pop();
                updateLabelWithFileName(fileName);
            });

            function updateLabelWithFileName(fileName) {
                $('#dragDropArea .text span').text(fileName || 'Drag and drop a file here or click to upload');
            }
        });

    </script>

    <script>
        // ... Existing JavaScript code ...

        $(document).ready(function () {
            // ... Existing jQuery code ...

            // Check for alert message and display
            var alertMessage = '@Html.Raw(alertMessage)';
            if (alertMessage) {
                alert(alertMessage);
            }
        });
    </script>
}