@page
@model Web.Pages.CheckResultModel
@{
}
@if (Model.Status.Equals("COMPLETED"))
{
    @foreach (var item in Model.MarkReports)
    {
        <h1>@item.MarkScore</h1>
    }
}

<h1>Chờ thanh toán</h1>
