@page
@model Web.Pages.CreatePostModel

@{
    ViewData["Title"] = "CreatePost";
}
<!-- Styles -->

<h1 class="text-center">Tạo bài đăng</h1>

<hr />
<div class="row">
    <div class="offset-4 col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Post.PostTitle" class="control-label">Tiêu đề</label>
                <input asp-for="Post.PostTitle" class="form-control" />
                <span asp-validation-for="Post.PostTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Post.PostContent" class="control-label">Nội dung</label>
                <input asp-for="Post.PostContent" class="form-control" />
                <span asp-validation-for="Post.PostContent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Post.DateSlot" class="control-label">Ngày</label>
                <input asp-for="Post.DateSlot" class="form-control" type="date" />
                <span asp-validation-for="Post.DateSlot" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Ca thi</label>

                <div class="row">
                    <!-- Start Time Input -->
                    <div class="col-md-5">
                        <label class="control-label"><small>Bắt đầu</small></label>
                        <input name="StartTime" class="form-control" type="time" />
                    </div>

                    <!-- End Time Input -->
                    <div class="col-md-5 offset-md-2">
                        <label class="control-label"><small>Kết thúc</small></label>
                        <input name="EndTime" class="form-control" type="time" />
                    </div>
                </div>
            </div>


            <div class="form-group">
                <label asp-for="Post.PostCategoryId" class="control-label">Môn</label>
                <select asp-for="Post.PostCategoryId" asp-items="@ViewData["PostCategoryId"] as SelectList" class="form-control select2"></select>
                <span asp-validation-for="Post.PostCategoryId" class="text-danger"></span>
            </div>


            <div class="form-group my-4 text-center">
                <input type="submit" value="Tạo" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-outline-info btn-sm" asp-page="/Index">Về trang chủ</a>
</div>

<!-- Scripts -->

<script>
    $(document).ready(function () {
        $('.select2').select2();
    });
</script>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}