@page
@model Web.Pages.ForgetPasswordModel
@{
}
@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <div class="alert alert-danger">@Model.ErrorMessage</div>
}
else if (!string.IsNullOrEmpty(Model.SuccessMessage))
{
    <div class="alert alert-info">@Model.SuccessMessage</div>
}
<form method="post" class="form-group">
    <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" id="username" asp-for="VerifyPassword.Username" required>
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" asp-for="VerifyPassword.Email" required>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
