@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>@Model.hihi</h1>
<form method="get" asp-page-handler="OnGetSearchByTitle">
    <div class="my-3">
        <div class="search-bar">
            <input class="search-input" name="Title" type="text" placeholder="Search..." />
            <input class="btn btn-sm btn-outline-primary text-black" type="submit" />
        </div>
    </div>
</form>
<div class="my-5 text-center">
    <a href="#" class="btn btn-secondary">Check Legit</a>
    <a href="/createpost" class="btn btn-primary" id="post">Đăng bài</a>
</div>
<table class="table table-striped">
    <thead class="text-center">
        <tr>
            <th>
                Tiêu Đề
            </th>
            <th>
                Nội Dung
            </th>
            <th>
                Ngày Thi
            </th>
            <th>
                Thời gian
            </th>
            <th>
                Trạng thái
            </th>
            <th>
                Môn
            </th>
            <th>
                Người nhận
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<p>Trang: <span id="currentPage"></span> / <span id="totalPages"></span></p>


<div class="pagination">
    <button id="prevPage">Trước</button>
    <span id="currentPage">1</span>
    <button id="nextPage">Sau</button>
</div>



<script>
   


</script>



<script>
    $(document).ready(function () {
        // Handle category change
        $('select[name="CategoryName"]').on('change', function () {
            let category = $(this).val();
            $.get('/Index?handler=SearchByCategoryName', { categoryName: category }, function (data) {
                // Update the posts list with the returned data
                $('tbody').html(data);
            });
        });

        // Handle search button click
        $('.search-button').on('click', function (e) {
            e.preventDefault(); // Prevent default form submission
            let title = $('.search-input').val();
            $.get('/Index?handler=SearchByTitle', { title: title }, function (data) {
                // Update the posts list with the returned data
                $('tbody').html(data);
            });
        });
    });
</script>
