@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="my-3">
    <form method="#">
        <div class="text-center">
            <input class="" type="text" style="width:1000px" />
            <input type="button" value="Search" />
        </div>
    </form>
</div>

<div class="my-5 text-center">
    <a href="#" class="btn btn-secondary">Check Legit</a>
    <a href="/createpost" class="btn btn-primary">Đăng bài</a>
</div>
<table class="table table-striped">
    <thead class="text-center">
    <th>
        Môn
    </th>
    <th>
        Tiêu đề
    </th>
    </thead>
    <tbody>
    <td class="text-center">
        PRM
    </td>
    <td>
        Cần cứu anh Tuấn
    </td>
    </tbody>
</table>