@page
@model Web.Pages.MyPaymentModel

@{
	ViewData["Title"] = "Lịch Sử Giao Dịch";
	TimeZoneInfo vietnamTimeZone = TimeZoneInfo.FindSystemTimeZoneById("SE Asia Standard Time");

	DateTime vietnamTime = TimeZoneInfo.ConvertTimeFromUtc(DateTime.UtcNow, vietnamTimeZone);

	int currentTime = vietnamTime.Hour;
}
<link rel="stylesheet" href="~/css/Mypayment.css" asp-append-version="true" />

@if(currentTime >=22 || currentTime < 0)
{
	<p style="color:red"><strong>Lưu ý:</strong>
		<br>Ngân hàng sẽ thống kê từ 22 giờ đến 24 giờ nên lúc này hệ thống sẽ cập nhật giao dịch chậm.</p>
}
<h1>Lịch sử giao dịch</h1>
<div id="payment-table-container">
	<table class="table">
		<thead>
			<tr>
				<th>
					Id
				</th>

				<th>
					Ngày Giao Dịch
				</th>

				<th>
					
				</th>

				<th>
					Số Tiền
				</th>

				<th>
					Loại Dịch Vụ
				</th>
				<th>
					Trạng Thái Giao Dịch
				</th>

				<th>
					Hành Động
				</th>

			</tr>
		</thead>
		<tbody>
			
		</tbody>
	</table>
</div>
<!-- Modal for Viewing Withdrawal Request -->
<div class="modal fade" id="viewWithdrawalRequestModal" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Chi tiết đơn rút tiền</h5>
				<button type="button" class="close-modal" data-dismiss="modal">
					<span>&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<!-- Nội dung được cập nhật khi modal được mở -->
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="modelRequest" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Yêu cầu rút tiền</h5>
				<button type="button" class="close-modal" data-dismiss="modal">
					<span>&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<input type="text" class="withdraw-comment-input" placeholder="Enter comments" />
			</div>

			<div class="modal-footer">
				<button type="submit" class="btn btn-primary" id="btn-request">Request</button>
			</div>
		</div>
	</div>
</div>


<p>Trang: <span id="currentPage"></span> / <span id="totalPages"></span></p>

<div class="pagination">
	<button id="prevPage">Trước</button>
	<span id="currentPage">1</span>
	<button id="nextPage">Sau</button>
</div>

<span id="regError" data-my-attribute=""></span>

<div class="my-toast">
	<div id="toast"></div>
</div>


<div id="popup-backdrop" class="popup-backdrop"></div>
<div id="vietqr-popup" class="popup">
	<img id="txtQRCode" alt="VietQR code">
	<div style="margin-top: 5px;"><span id="popup-close" class="popup-close">Close</span></div>

</div>


@section Scripts {
		<script src="~/jsroot/MyPayment.js" asp-append-version="true"></script>
}
