@page
@model Web.Pages.Admin.DashboardModel
@{
}

<a href="/admin/usermanagement" class="btn btn-primary">
    Quản lý Users
</a>

<a href="/admin/review-post" class="btn btn-primary">
    Duyệt bài
</a>