<link rel="stylesheet" href="~/css/Chatbox.css" asp-append-version="true" />

@if (Context.User.Identity.IsAuthenticated)
{
	<audio id="messageSound" src="~/assets/notification.mp3" preload="none"></audio>

	@if (Context.User.IsInRole("Customer"))
	{
		<div id="chatBox" class="center">
			<div class="chat">
				<div class="contact bar">
					<div class="pic stark" style="background-image: url('https://png.pngtree.com/png-vector/20221125/ourmid/pngtree-host-and-admin-marketing-job-vacancies-vector-png-image_6480101.png');"></div>
					<div class="name">
						Chat với quản trị viên
					</div>
					<div class="seen">
						Today at 12:56
					</div>
					<div id="minimize-chat" class="minimize">
						<span class="material-symbols-outlined">
							close_fullscreen
						</span>
					</div>
				</div>
				<div class="messages" id="chat">
				</div>
				<div class="input">
					<input placeholder="Type your message here!" type="text" /><span class="material-symbols-outlined" style=" margin-right: 16px;">
						send
					</span>
				</div>
			</div>
		</div>
		<div id="chat-bubble" style="display: none;">
			<span>💬</span>
		</div>

		<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
		<script src="~/js/Chatbox.js" asp-append-version="true"></script>

	}
	else if (Context.User.IsInRole("Admin"))
	{
		<div id="chatBox" class="center">
			<div id="contacts" class="contacts">
			</div>

			<div class="chat">
				<div class="contact bar">
					<div class="pic stark" style="background-image: url('https://cdn3.iconfinder.com/data/icons/login-5/512/LOGIN_6-512.png');"></div>
					<div id="name-conversation" class="name">
					</div>
					<div id="minimize-chat" class="minimize">
						<span class="material-symbols-outlined">
							close_fullscreen
						</span>
					</div>
				</div>
				<div class="messages" id="chat">
				</div>
				<div class="input">
					<input placeholder="Type your message here!" type="text" /><span class="material-symbols-outlined" style=" margin-right: 16px;">
						send
					</span>
				</div>
			</div>
		</div>

		<div id="chat-bubble" style="display: none;">
			<span>💬</span>
		</div>

		<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
		<script src="~/js/ChatboxAdmin.js" asp-append-version="true"></script>
	}


}

