.container {
    display: flex;
}

.sidebar {
    flex: 1; /* Cho phần lọc chiếm 1 phần không gian */
    margin-right: 20px; /* Khoảng cách giữa sidebar và main content */
}

.main-content {
    flex: 3; /* Cho phần nội dung chính chiếm 3 phần không gian */
}
/* Add your custom CSS styles here */
.my-3 {
    margin: 20px 0;
}

.text-center {
    text-align: center;
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
}

.search-button {
    background-color: transparent; /* Đặt màu nền là trong suốt */
    color: #007BFF; /* Màu biểu tượng kính lúp */
    border: none;
    padding: 10px 20px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

    .search-button:hover {
        color: #0056b3; /* Màu biểu tượng khi hover */
    }

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 10px;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
}

.btn-secondary {
    background-color: #6c757d;
}

.btn-primary {
    background-color: #007BFF;
}

.btn-secondary:hover {
    background-color: #545b62;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.post-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Điều này sẽ đảm bảo rằng có khoảng trắng giữa các card */
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px; /* Bo góc cho container bên ngoài */
}

.post-card {
    background: #fff;
    border-radius: 10px; /* Bo góc cho mỗi card */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px; /* Khoảng cách giữa các card theo chiều dọc */
    width: calc(50% - 10px); /* Chiều rộng để 2 card vừa vặn trên một dòng, 10px là để tính khoảng cách giữa các card */
    overflow: hidden; /* Đảm bảo nội dung không tràn ra ngoài viền bo tròn */
}

.post-link {
    display: block;
    color: #333; /* Màu chữ cho link */
    text-decoration: none; /* Bỏ gạch chân ở link */
    margin-bottom: 10px;
}

.post-title {
    font-size: 1.5em; /* Cỡ chữ cho tiêu đề công việc */
    color: #333; /* Màu chữ cho tiêu đề công việc */
    margin-bottom: 5px;
}

.salary {
    font-size: 1.2em; /* Cỡ chữ cho mức lương */
    color: #666; /* Màu chữ cho mức lương */
    font-weight: bold;
}

.post-tags .tag {
    display: inline-block; /* Hiển thị tag cạnh nhau */
    background-color: #eef; /* Màu nền cho tag */
    padding: 5px 10px; /* Đệm cho tag */
    margin-right: 5px; /* Khoảng cách giữa các tag */
    border-radius: 3px; /* Bo góc cho tag */
    font-size: 0.85em; /* Cỡ chữ cho tag */
}

.company-info {
    display: flex; /* Sử dụng flexbox để căn chỉnh logo và tên công ty */
    align-items: center; /* Căn giữa các items theo chiều dọc */
    margin-top: 10px;
}

.company-logo {
    max-width: 50px; /* Giới hạn kích thước logo công ty */
    margin-right: 10px; /* Khoảng cách giữa logo và tên công ty */
}

.company-name {
    color: #0073e6; /* Màu sắc cho tên công ty */
    text-decoration: none; /* Bỏ gạch chân cho link */
}

.location {
    font-size: 0.9em; /* Cỡ chữ cho địa điểm */
    color: #777; /* Màu chữ cho địa điểm */
    margin-top: 10px;
}

.post-footer {
    display: flex; /* Sử dụng flexbox để căn chỉnh các phần tử trong footer */
    justify-content: space-between; /* Phân tách các item ra hai bên */
    align-items: center; /* Căn giữa các items theo chiều dọc */
    font-size: 0.85em; /* Cỡ chữ cho footer */
    color: #777; /* Màu chữ cho footer */
    margin-top: 15px;
}

.hot-post-badge {
    background-color: #ff2d55; /* Màu nền cho badge HOT */
    color: #fff; /* Màu chữ cho badge */
    padding: 3px 7px; /* Đệm cho badge */
    border-radius: 4px; /* Bo góc cho badge */
}

.updated-time {
    color: #999; /* Màu chữ cho thời gian cập nhật */
}

.carousel-inner, .carousel-item {
    height: 400px; /* giả sử bạn muốn chiều cao cố định là 400px */
    position: relative;
}

    .carousel-item img {
        position: absolute;
        top: 0;
        left: 50%;
        min-height: 100%;
        width: auto;
        transform: translateX(-50%);
    }


.slider {
    max-width: 100%;
}


/* Đảm bảo rằng cards không dính vào nhau ở các kích thước màn hình nhỏ */
@media (max-width: 600px) {
    .post-card {
        width: 100%; /* Trên màn hình nhỏ, mỗi card chiếm toàn bộ chiều rộng */
    }
}
