
.carousel-item img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

/* CSS cho container */
.container.my-3 {
    border-radius: 10px; /* Làm tròn các góc */
}

/* CSS cho thanh tìm kiếm và nút */
.SearchButtonContainer {
    display: flex; /* Hiển thị thành dạng flex để căn chỉnh nội dung bên trong */
    align-items: center; /* Căn chỉnh nội dung theo chiều dọc */
    justify-content: space-between; /* Đặt khoảng cách ngang giữa Input Container và Button Container */
}

.InputContainer {
    flex-grow: 1; /* Cho phép Input Container mở rộng để chiếm hết không gian còn lại */
    display: flex; /* Hiển thị thành dạng flex để căn chỉnh nội dung bên trong */
    align-items: center; /* Căn chỉnh nội dung theo chiều dọc */
    background-color: rgb(255, 255, 255); /* Màu nền của ô tìm kiếm */
    border-radius: 10px; /* Làm tròn góc của ô tìm kiếm */
    overflow: hidden;
    cursor: pointer;
    padding-left: 15px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.075); /* Đổ bóng cho ô tìm kiếm */
    height: 40px;
}

.input {
    width: 100%; /* Mở rộng input để lấp đầy không gian còn lại */
    border: none;
    outline: none;
    font-size: 0.9em;
    caret-color: rgb(255, 81, 0); /* Màu con trỏ */
}

.labelforsearch {
    cursor: text;
    padding: 0px 12px;
}

.searchIcon {
    width: 13px;
}

    .searchIcon path {
        fill: rgb(114, 114, 114); /* Màu biểu tượng tìm kiếm */
    }

.post-button {
    font-family: inherit;
    font-size: 14px;
    background: linear-gradient(to bottom, #4dc7d9 0%,#66a6ff 100%);
    color: white;
    padding: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 15px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s;
    margin: 10px 10px;
}

    .post-button:hover {
        transform: translateY(-3px);
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
    }

    .post-button:active {
        transform: scale(0.95);
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    }

    .post-button span {
        display: block;
        margin-left: 0.4em;
        transition: all 0.3s;
    }

    .post-button svg {
        width: 13px;
        height: 13px;
        fill: white;
        transition: all 0.3s;
    }

    .post-button .svg-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.2);
        margin-right: 0.5em;
        transition: all 0.3s;
    }

    .post-button:hover .svg-wrapper {
        background-color: rgba(255, 255, 255, 0.5);
    }

    .post-button:hover svg {
        transform: rotate(45deg);
    }
/* CSS Chung cho Card */
.card {
    background-color: #fff;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    display: flex;
    padding: 15px;
    transition: all 0.5s ease;
    flex-direction: column; /* Mặc định là dạng cột */
    margin: 10px; /* Khoảng cách xung quanh card */
}

    .card:hover {
        box-shadow: 8px 28px 50px rgba(39, 44, 49, 0.07), 1px 6px 12px rgba(39, 44, 49, 0.04);
        transform: translate3D(0, -1px, 0) scale(1.02);
    }

/* CSS Chung cho Container */
.post-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Cân đối khoảng cách giữa các card */
    margin: 20px 0; /* Tạo khoảng cách trên và dưới container */
    gap: 20px; /* Thêm khoảng cách giữa các card */
}


/* Phong cách cho tiêu đề và danh mục */
.post-title {
    font-family: "Poppins";
    font-weight: 500;
    font-size: 18px;
    margin: 3px 0;
}

.post-category-item {
    font-family: "Avenir";
    font-size: 14px;
    color: rgba(34, 34, 34, 0.5);
    margin: 5px 0;
}

.post-category {
    margin-top: 10px;
    padding: 0 15px;
    line-height: 35px;
    background-color: #e6e6e6;
    border-radius: 5px;
    display: inline-block;
}


/* Bố cục cho màn hình Desktop */
@media (min-width: 1024px) {
    .post-card-container .card {
        width: calc(33% - 40px); /* Thiết lập chiều rộng cho mỗi card, trừ đi khoảng cách */
        flex-direction: row; /* Card dạng ngang */
    }

    .profile_img {
        width: 80px;
        height: 80px;
    }
}

/* Bố cục cho màn hình Tablet */
@media (min-width: 768px) and (max-width: 1023px) {
    .post-card-container .card {
        width: calc(50% - 40px); /* Thiết lập chiều rộng cho mỗi card, trừ đi khoảng cách */
        flex-direction: row; /* Card dạng ngang */
    }

    .profile_img {
        width: 70px;
        height: 70px;
    }
}

/* Bố cục dành cho màn hình nhỏ (Mobile) */
@media (max-width: 768px) {
    .post-card-container {
        flex-direction: column; /* Chuyển container sang dạng cột */
    }

        .post-card-container .card {
            width: 100%; /* Mỗi card chiếm toàn bộ chiều rộng của container */
            margin: 10px 0;
        }

    .profile_img {
        width: 60px; /* Điều chỉnh kích thước hình ảnh nhỏ hơn */
        height: 60px;
    }

    /* Điều chỉnh container */
    .container.my-3 {
        padding: 5px; 
        border-radius: 5px; 
    }

    .InputContainer {
        height: 60px; 
    }

    .input {
        font-size: 1.2em; /* Giảm kích thước font của input */
    }

    .post-button {
        font-size: 14px; /* Giảm kích thước font của nút */
        margin: 0 10px;
    }

        .post-button .svg-wrapper {
            display: none;
        }

        .post-button svg {
            display: none;
        }

    .searchIcon {
        width: 20px;
    }
}